/*Contacto*/
.contacto-main{
    margin-top: $espaciado;
}
.enviar{
    background-color: map-get($colores, color-boton);
    border-color: map-get($colores, color-boton-borde);
}
.enviar:hover{
    background-color: map-get($colores, color-boton-hover);
    border-color: map-get($colores, color-boton-borde);
}
.contacto-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}