/*Inicio*/

.index-novedades{
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    p{
        text-align: justify;
    }
    img{
        align-self: center;
    }
}

.forever-two{
    display: none;
}